{% extends "layouts/layout.html" %}

{% block header %}
<title>Cryptovote | Create Election</title>
{% endblock %}

{% block content %}
<section class="portfolio-block contact">
    <div class="container">
        <form id="candidateForm" action="{{ url_for('create_election.add_candidates', election=election.name) }}" method="post">
            <div class="text-center" style="font-size:3em;">Add Candidates</div>
            <p class="text-center mb-4">Input the names of all candidates separated by commas</p>
            <div class="form-group" style="margin-top: 50px;">
              <input type='text' id='candidates' name='candidates' class='form-control' value=''></input>
            </div>
            <div class="form-group" style="margin-top: 50px;">
              <button type="submit" class="btn btn-primary btn-block btn-lg" style="background-color: #0084da;">Submit</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}
