{% extends "layouts/layout.html" %}

{% block header %}
<title>Cryptovote | Create Election</title>
{% endblock %}

{% block content %}
<section class="portfolio-block contact">
    <div class="container">
        <div class="heading">
            <h1>Let's Create an Election</h1>
        </div>
        <form action="{{ url_for('create_election.seats', election=election.name) }}" method="post">
            <div class="text-center mb-4" style="font-size:3em;">5</div>
            <div class="form-group text-center">
              <label for="name"><h3>Number of Seats</h3></label>
              <input class="form-control item" type="number" name="seats" min="1" step="1" value="1" placeholder="How many seats are to be elected?">
            </div>
            <div class="form-group" style="margin-top: 50px;">
              <button type="submit" class="btn btn-primary btn-block btn-lg" style="background-color: #0084da;">Next</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}
