{% extends "layouts/election_layout.html" %}

{% block header %}
<title>{{ election.name | title }} | Login</title>
{% endblock %}

{% block content %}

<section class="portfolio-block contact">
    <div class="container">
        <form action="{{ url_for('auth.login_password', election=election.name) }}" method="post">
            <div class="text-center" style="font-size:3em;">Login</div>
            <div class="form-group text-center">
              <label for="password"><h3>Password</h3></label>
              <input class="form-control item" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group text-center">
              <button id="authenticate" class="btn btn-primary btn-block btn-lg" style="background-color: #0084da;">Login</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}
