{% extends "layouts/election_layout.html" %}

{% block header %}
<title>Cryptovote | Confirm</title>
{% endblock %}

{% block content %}
<section class="portfolio-block contact">
    <div class="container">
        <div class="heading">
            <h1>Let's Confirm Some Things</h1>
        </div>
        <form action="{{ url_for('vote.confirm_name', election=election.name) }}" method="post">
            <div class="form-group text-center">
              <label for="name"><h3>Your Name</h3></label>
              <input class="form-control item" type="text" name="name" placeholder="What's Your Name?">
            </div>
            <div class="form-group" style="margin-top: 50px;">
              <button type="submit" class="btn btn-primary btn-block btn-lg" style="background-color: #0084da;">Next</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}
