{% extends "layouts/layout.html" %}

{% block header %}
<title>Cryptovote | Create Election</title>
{% endblock %}

{% block content %}
<main class="page contact-page">
    <section class="portfolio-block contact">
        <div class="container">
            <div class="heading">
                <h1>Let's Create an Election</h1>
            </div>
            <form>
                <div class="text-center" style="color: #007ccd;margin: 30px;"><span class="fa-stack fa-3x">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <strong class="fa-stack-1x calendar-text">1</strong>
                  </span>
                </div>
                <div class="form-group"><label for="name">Election Name</label><input class="form-control item" type="text" id="name"></div>
                <div class="form-group" style="margin-top: 50px;"><button class="btn btn-primary btn-block btn-lg" type="submit" style="background-color: #0084da;">Create Election</button></div>
            </form>
        </div>
    </section>
</main>
{% endblock %}
