{% extends "layouts/layout.html" %}

{% block header %}
<title>Cryptovote | Create Election</title>
{% endblock %}

{% block content %}
<main class="page contact-page">
    <section class="portfolio-block contact">
        <div class="container">
            <div class="heading">
                <h1>Register Voters</h1>
            </div>
            <form>
                <div class="text-center mb-4" style="font-size:3em;">5</div>
                <div class="form-group" style="margin-top: 50px;">
                  <a href="{{ url_for('election.election_home', election='test') }}" class="btn btn-primary btn-block btn-lg" style="background-color: #0084da;">Next</a>
                </div>
            </form>
        </div>
    </section>
</main>
{% endblock %}
