{% extends "layouts/layout.html" %}

{% block header %}
<title>Cryptovote | Create Election</title>
{% endblock %}

{% block content %}
<main class="page contact-page">
    <section class="portfolio-block contact">
        <div class="container">
            <div class="heading">
                <h1>Let's Create an Election</h1>
            </div>
            <form>
                <div class="text-center mb-4" style="font-size:3em;">4</div>
                <div class="form-group text-center">
                  <label for="register"><h3>Register Identity</h3></label>
                  <a href="{{ url_for('create_election.register_authorities', election='test') }}" id="register" class="btn btn-primary btn-block btn-lg" style="background-color: #0084da;">Register</a>
                </div>
            </form>
        </div>
    </section>
</main>
{% endblock %}
