#
# ############# pip3 Requirements File #############
#                   cryptovote_web
# Example usage: pip3 install -r requirements.txt
#
flask
flask_sqlalchemy
python-dotenv
flask_migrate
flask-login
webauthn
uuid
