{% extends "layouts/election_layout.html" %}

{% block header %}
<title>{{ election.name | title }} | Bulletin</title>
{% endblock %}

{% block content %}
<section class="portfolio-block contact">
    <div class="container">
        <div class="heading">
            <h1>Bulletin</h1>
            <h4>The following data is contained with the cryptographic bulletin for this election.</h4>
        </div>
        <div class="jumbotron text-left">
          <h4>{{ election.name | title }} Bulletin</h4>
          <hr />
          <p>{{ election.bulletin }}</p>
        </div>
    </div>
</section>
{% endblock %}
