{% extends "layouts/election_layout.html" %}

{% block header %}
<title>{{ election.name | title }} | Candidates</title>
{% endblock %}

{% block content %}
<section class="portfolio-block contact">
    <div class="container">
        <div class="heading">
          <h1>Candidates List</h1>
          <h4>The following candidates are running in this election.</h4>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Name</th>
            </tr>
          </thead>
          <tbody>
            {% for candidate in candidates %}
              <tr>
                <td>{{ candidate }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
</section>
{% endblock %}
