{% extends "layouts/election_layout.html" %}

{% block header %}
<title>{{ election.name | title }}</title>
{% endblock %}

{% block content %}
<section class="portfolio-block block-intro">
    <div class="container">
        <div class="row">
            <div class="col">
                <div style="min-height: 10vh;">
                    <p class="text-info" data-aos="fade-up" data-aos-duration="700" data-aos-once="true" style="font-size: 10vh;"><strong>{{ election.name | title }}</strong></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div data-aos="fade" data-aos-duration="700" data-aos-offset="-300" data-aos-delay="250" data-aos-once="true" class="about-me" style="background-image: url(&quot;{{ url_for('static', filename='img/ballot-box.png') }}&quot;);background-position: center;background-size: cover;background-repeat: no-repeat;">
                  <a class="btn btn-outline-secondary {{ '' if election.results else 'disabled' }}" role="button" href="{{ url_for('election.results', election=election.name) }}" style="margin-top: 15vh;margin-bottom: 5vh;">Results</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
