.sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sortable li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  font-size: 1.4em;
  box-sizing: content-box;
}

.sortable li span {
  position: absolute;
  margin-left: -1.3em;
}

.ui-state-highlight {
  height: 1.5em;
  line-height: 1.2em;
}

.sortable-number {
  float: right;
  line-height: 1em;
  text-align: center;
  font-weight: bold;
}
