{% extends "layouts/layout.html" %}

{% block header %}
<title>Cryptovote | About</title>
{% endblock %}

{% block content %}
<section class="portfolio-block contact">
    <div class="container text-center">
        <div class="heading">
            <h1>About</h1>
        </div>
        <p>Cryptovote is an implementation of the ShuffleSum algorithm proposed <a href="https://talmoran.net/papers/BMNRT09-shuffle-sum.pdf?fbclid=IwAR0jZ18H2ZYMsCjPkW-3ohDNom5UjbK-jMen6_lISVoWJJnPWM0A41KAS1Y" target="_blank">in this paper</a></p>
    </div>
</section>
{% endblock %}
